<h1 class="mt-5 heading mx-auto">
    All Posts</h1>
<div class="d-flex justify-content-center align-items-center loading" *ngIf="loading">
    <div class="spinner-border" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
</div>

<div class="mx-auto mt-4 p-3 content">

    <div class="card mb-3 mx-auto" *ngFor="let blog of blogs | paginate:{ id: 'myBlog' , itemsPerPage:query.pageSize, currentPage:query.pageNumber, totalItems:count}">
        <div class="d-flex-row p-3 justify-content-around">

            <h1 class="blog-heading ml-3"><a [routerLink]="['/blogs',blog._id,blog.title | kebabcase]"> {{blog.title}}</a></h1>

            <span *ngFor="let tag of blog.tags" class="mx-1 mt-3">
                <span class="badge bg-secondary tag">{{tag}}</span>
            </span>

        </div>
    </div>

    <div class="has-text-centered mb-4 pb-4 pagination">
        <div class="spinner" [ngClass]="{ 'hidden': !loading }"></div>
        <!-- <pagination-controls (pageChange)="getBlogs($event)" id="myBlog"></pagination-controls> -->
        <pagination-controls (pageChange)="pageChange($event)" id="myBlog" class="my-pagination">
        </pagination-controls>
    </div>

</div>
<!-- <div class="card-body text-dark" [innerHTML]="blog.description">
    </div> -->